<p>Das Programm besteht aus zwei Hauptteilen:</p>

<b>Vormittag</b>
<ul>
  <li>Overview Sessions der Technica Forecast Themen</li>
  <li>Aufbau des Technica Forecasts kennenlernen</li>
  <li>Alignment der Technica Forecast Themen bei bbv</li>
</ul>

<b>Nachmittag</b>
<ul>
  <li>Show & Tell</li>
</ul>

<b>Pausenraum</b>
<p>Unter folgendem Link hast du während des ganzen Tages Zugang zum Austausch mit deinen Kollegen</p>
<ul>
  <li><a href="https://zoom.us/j/98154608022?pwd=SFdCN3c5QUZWS3RYYk9pOW5kdFh6QT09">Zoom-Meeting</a> beitreten</li>
  <li>Meeting-ID: 981 5460 8022</li>
  <li>Kenncode: 542995</li>
</ul>
